<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title text-primary">Delete Person</h4>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete {{data.person.firstName}} {{data.person.lastName}}?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="onCancel()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="onConfirmDelete()">Delete</button>
    </div>
  </div>
</div>
